<html>
  <head>
      <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <div id="persona">
        <ul>
          <a routerLink="/main"><button><li>Strona główna</li></button></a>
          <a routerLink="/your-data"><button><li>Twoje dane</li></button></a>
          <a routerLink="/approvals"><button><li>Zgody</li></button></a>
          <a routerLink="/appeals"><button><li>Wnioski</li></button></a>
          <a routerLink="/information"><button><li>Informacje</li></button></a>
        </ul>
      </div>
      <div id="description">
        <h3>Informacje o przetwarzaniu twoich danych</h3>
      </div>
      <div id="view">
        <ul>
          <table>
            <thead>
              <tr>
                <td><li><button>Nadawca</button></li></td>
                <td><li><button>Rodzaj</button></li></td>
                <td><li><button>Zbiór(?)</button></li></td>
                <td><li><button>Otrzymano</button></li></td>
                <td><li><button>Szczegóły</button></li></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Microsystem</td>
                <td>Przeniesienie</td>
                <td>Some text</td>
                <td>22/04/2018</td>
                <td><button>Zobacz</button></td>
              </tr>
              <tr>
                <td>Microsystem</td>
                <td>Przeniesienie</td>
                <td>Some text</td>
                <td>22/04/2018</td>
                <td><button>Zobacz</button></td>
              </tr>
              <tr>
                  <td>Microsystem</td>
                  <td>Przeniesienie</td>
                  <td>Some text</td>
                  <td>22/04/2018</td>
                  <td><button>Zobacz</button></td>
                </tr>
                <tr>
                  <td>Microsystem</td>
                  <td>Przeniesienie</td>
                  <td>Some text</td>
                  <td>22/04/2018</td>
                  <td><button>Zobacz</button></td>
                </tr>
                <tr>
                    <td>Microsystem</td>
                    <td>Przeniesienie</td>
                    <td>Some text</td>
                    <td>22/04/2018</td>
                    <td><button>Zobacz</button></td>
                  </tr>
                  <tr>
                    <td>Microsystem</td>
                    <td>Przeniesienie</td>
                    <td>Some text</td>
                    <td>22/04/2018</td>
                    <td><button>Zobacz</button></td>
                  </tr>
                  <tr>
                      <td>Microsystem</td>
                      <td>Przeniesienie</td>
                      <td>Some text</td>
                      <td>22/04/2018</td>
                      <td><button>Zobacz</button></td>
                    </tr>
                    <tr>
                      <td>Microsystem</td>
                      <td>Przeniesienie</td>
                      <td>Some text</td>
                      <td>22/04/2018</td>
                      <td><button>Zobacz</button></td>
                    </tr>
                    <tr>
                        <td>Microsystem</td>
                        <td>Przeniesienie</td>
                        <td>Some text</td>
                        <td>22/04/2018</td>
                        <td><button>Zobacz</button></td>
                      </tr>
                      <tr>
                        <td>Microsystem</td>
                        <td>Przeniesienie</td>
                        <td>Some text</td>
                        <td>22/04/2018</td>
                        <td><button>Zobacz</button></td>
                      </tr>
                      <tr>
                          <td>Microsystem</td>
                          <td>Przeniesienie</td>
                          <td>Some text</td>
                          <td>22/04/2018</td>
                          <td><button>Zobacz</button></td>
                        </tr>
                        <tr>
                          <td>Microsystem</td>
                          <td>Przeniesienie</td>
                          <td>Some text</td>
                          <td>22/04/2018</td>
                          <td><button>Zobacz</button></td>
                        </tr>
                        <tr>
                            <td>Microsystem</td>
                            <td>Przeniesienie</td>
                            <td>Some text</td>
                            <td>22/04/2018</td>
                            <td><button>Zobacz</button></td>
                          </tr>
                          <tr>
                            <td>Microsystem</td>
                            <td>Przeniesienie</td>
                            <td>Some text</td>
                            <td>22/04/2018</td>
                            <td><button>Zobacz</button></td>
                          </tr>
                          <tr>
                              <td>Microsystem</td>
                              <td>Przeniesienie</td>
                              <td>Some text</td>
                              <td>22/04/2018</td>
                              <td><button>Zobacz</button></td>
                            </tr>
                            <tr>
                              <td>Microsystem</td>
                              <td>Przeniesienie</td>
                              <td>Some text</td>
                              <td>22/04/2018</td>
                              <td><button>Zobacz</button></td>
                            </tr>
                            <tr>
                                <td>Microsystem</td>
                                <td>Przeniesienie</td>
                                <td>Some text</td>
                                <td>22/04/2018</td>
                                <td><button>Zobacz</button></td>
                              </tr>
                              <tr>
                                <td>Microsystem</td>
                                <td>Przeniesienie</td>
                                <td>Some text</td>
                                <td>22/04/2018</td>
                                <td><button>Zobacz</button></td>
                              </tr>
            </tbody>
          </table>
        </ul>    
      </div>
    </div>
  </body>
</html>