<html>
  <head>
      <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <div id="persona">
        <ul>
          <a routerLink="/main"><button><li>Strona główna</li></button></a>
          <a routerLink="/your-data"><button><li>Twoje dane</li></button></a>
          <a routerLink="/approvals"><button><li>Zgody</li></button></a>
          <a routerLink="/appeals"><button><li>Wnioski</li></button></a>
          <a routerLink="/information"><button><li>Informacje</li></button></a>
        </ul>
      </div>
      <div id="description">
        <h3>Lista firm, które przetwarzają: twoje dane</h3>
      </div>
      <div id="view">
        <fieldset>
          <legend>Nazwa firmy:</legend>
          <p>Company1</p>
          <a routerLink="/your-data/company"><button>wybierz</button></a>
        </fieldset>
      </div>
    </div>
  </body>
</html>