<html>
  <head>
      <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <div id="persona">
        <ul>
          <a routerLink="/main"><button><li>Strona główna</li></button></a>
          <a routerLink="/your-data"><button><li>Twoje dane</li></button></a>
          <a routerLink="/approvals"><button><li>Zgody</li></button></a>
          <a routerLink="/appeals"><button><li>Wnioski</li></button></a>
          <a routerLink="/information"><button><li>Informacje</li></button></a>
        </ul>
      </div>
      <div id="description">
        <h3>Lista zbiorów danych firmy XXX, w których przetwarzane są Twoje dane</h3>
      </div>
      <div id="view">
        <div id="buttons">
          <button>Data source</button>
          <button>Legal info</button>
        </div>
        <fieldset id="data-admin">
          <legend>Data administrator info</legend>
        </fieldset>
        <fieldset id="profiling">
          <legend>Profiling/other info</legend>
        </fieldset>
        <fieldset id="data">
          <legend>Dane w zbiorze</legend>
        </fieldset>
        <div id="buttons-right">
          <button>Appeal for correction</button>
          <button>Appeal for removal</button>
          <button>Appeal for cease to process</button>
          <button>Wnieś skargę do organu nadzorczego</button>
          <button>Wnieś sprzeciw (RODO Art 21)</button>
          <button>Appeal for transfer</button>
          <button>Withdraw the approval</button>
        </div>
      </div>
    </div>
  </body>
</html>